<ul class="list-group">
    <li class="list-group-item">Liste Des Postes</li>
  

    <li class="list-group-item list-group-item-primary">Poste 1</li>
    <li class="list-group-item list-group-item-secondary">Poste 2</li>
    <li class="list-group-item list-group-item-success">Poste 3</li>
    <li class="list-group-item list-group-item-danger">Poste 4</li>
    <li class="list-group-item list-group-item-warning">Poste 5</li>
    <li class="list-group-item list-group-item-info">Poste 6</li>
    <li class="list-group-item list-group-item-light">Poste 7</li>
    <li class="list-group-item list-group-item-dark">Poste 8</li>
  </ul>
